
.btn-container{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 10px;
}

.btn-container-2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-container-3{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 10px;
}

.button-main{
    display: flex;
    cursor: pointer;
    color: var(--zerene-white);
    background-color: var(--zerene-green);
    border: 1px solid var(--zerene-green);
    border-radius: 8px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    /* width: fit-content; */
    /* height: fit-content; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-main:hover{
    background-color: var(--zerene-white);
    color: var(--zerene-green);
    /* border: none; */
}

.button-second{
    display: flex;
    cursor: pointer;
    color: var(--zerene-green);
    background-color: var(--zerene-white);
    border: 1px solid var(--zerene-green);
    border-radius: 8px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-second:hover{
    background-color: var(--zerene-light);
    color: var(--zerene-green);
    /* border: none; */
}

.button-danger{
    display: flex;
    cursor: pointer;
    color: var(--zerene-white);
    background-color: var(--zerene-danger);
    border: 1px solid var(--zerene-danger);
    border-radius: 8px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-danger:hover{
    background-color: var(--zerene-white);
    color: var(--zerene-danger);
}

button.notify{
    display: flex;
    cursor: pointer;
    background-color: var(--zerene-white);
    border: 1px solid var(--zerene-white);
    border-radius: 6px;
    height: fit-content;
    width: fit-content;
    padding: 5px;
}

button.notify:hover{
    box-shadow: inset;
}

.dropbtn {
    background-color:var(--zerene-white);
    color: var(--zerene-green);
    padding: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 1px solid var(--zerene-green);
    cursor: pointer;
    border-radius:8px;
    margin:0 2.5rem;
}

/* timeslot */
.button-third{
    display: flex;
    color: var(--zerene-green);
    background-color: var(--zerene-white);
    border: 1px solid var(--zerene-green);
    border-radius: 8px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-container-4{
    display: grid;
    grid-template-columns: 94% 6%;
    gap: 0px;
}

.button-timeslot{
    display: flex;
    cursor: pointer;
    color: var(--zerene-white);
    background-color: var(--zerene-green);
    border: 1px solid var(--zerene-green);
    border-radius: 8px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-timeslot:hover{
    background-color: var(--zerene-white);
    color: var(--zerene-green);
    /* border: none; */
}
