.chat-row-1{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.chat-column-1{
    flex: 1;
}

.chat-window{
    display: flex;
    height: 450px;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--zerene-light);
    padding: 6px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chat-message-1{
    align-self: flex-end;
    background-color: var(--zerene-green);
    color: var(--zerene-white);
    margin-right: auto;
    font-size: 15px;
    margin-left: auto;
    width: fit-content;
    border-radius: 12px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    margin: 4px;
}

.chat-message-2{
    align-self: flex-start;
    background-color: var(--zerene-white);
    color: var(--zerene-green);
    margin-left: auto;
    font-size: 15px;
    width: fit-content;
    border-radius: 12px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    margin: 4px;
}

.message-typing{
    color: var(--zerene-green);
    font-size: 15px;
}

.text-window{
    border: 2px solid var(--zerene-green);
    border-radius: 8px;
    padding: 6px;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    gap: 10px;
}

.textbox{
    width: 100%;
    padding: 4px;
    margin-left: 2px;
}

.send-button{
    display: flex;
    cursor: pointer;
    color: var(--zerene-white);
    background-color: var(--zerene-green);
    border: 1px solid var(--zerene-green);
    border-radius: 8px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.date-divider{
    display: flex;
    color: var(--zerene-green);
    font-size: 15px;
    justify-content: center;
}

.date-divider::before,
.date-divider::after{
    content: "";
    flex: 1;
    border: 1px solid var(--zerene-green);
    margin: 10px;
}

.name-card{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: var(--zerene-white);
    border-radius: var(--card-border-radius);
    padding: 10px;
    align-items: top;
    height: fit-content;
    width: fit-content;
    margin-bottom: 10px;
}

.profile-picture{
    height: 50px;
    width: 50px;
}
