.form-reg-coun{
    border: none;
    background-color: var(--zerene-white);
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    width: 300px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.questionField{
    width: 100%;
    
}


/* create timeslot css */

.no-underline {
    text-decoration: none;
}

.error-message {
    color: red;
    font-size: 14px;
}

.date{
    background-color: #ffffff;
    padding: 2px;
    font-family: "Roboto Mono",monospace;
    color: #545454;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.time{
    background-color: #ffffff;
    padding: 2px;
    font-family: "Roboto Mono",monospace;
    color: #545454;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}
.type{
    background-color: #ffffff;
    padding: 2px;
    font-family: "Poppins", sans-serif;
    color: #545454;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

.interval{
    background-color: #ffffff;
    padding: 2px;
    font-family: "Poppins", sans-serif;
    color: #545454;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

.textarea-1{
    border: 1px solid var(--zerene-green);
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.password-box{
    border: 1px solid var(--zerene-white);
    border-radius: 4px;
    background-color: var(--zerene-white);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 0px 2px 0px 5px;
    margin: 0px 0px 5px;
}

.option{
    border: 1px solid var(--zerene-white);
    border-radius: 4px;
    background-color: var(--zerene-white);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: var(--zerene-grey);
}
