
/* dashboard */

.sec-dashb{
    display: grid;
    grid-template-columns: 20% 80%;
    padding-right: 100px;
    height: 100vh;
    /* border: 1px solid blue; */
}

.grid-container2{
    display: grid;
    grid-template-rows: 10% 90%;
    padding-left: 50px;
    height: 100vh;
    /* border: 1px solid red; */
}

.sub-container4{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    /* border: 1px solid yellow; */
}

.sub-container5{
    display: grid;
    align-items: center;
    /* padding-left: 50px; */
    height: fit-content;
    /* border: 1px solid black; */
}

.sub-container6{
    display: flex;
    align-items: center;
    justify-content: right;
    /* position: absolute; */
    /* padding-left: 60%; */
    height: fit-content;
    /* border: 1px solid black; */
}

.p-title{
    color: var(--zerene-green);
}

.p-bold-grey{
    color: var(--zerene-grey);
    font-weight: bold;
    width: fit-content;
}

.p-regular-grey{
    color: var(--zerene-grey);
    font-weight: 400;
    width: fit-content;
}

/* dashboard end */

